.container.is-narrow {
    max-width: 1200px;
}
.container {
    margin: 0 auto;
    position: relative;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.columns.is-centered {
    justify-content: center;
}
.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}
.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}
*, *::before, *::after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.has-text-centered {
    text-align: center !important;
}
body {
    color: #293347;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

body, button, input, select, textarea {
    font-family: "europa",sans-serif;
}
html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid #E6ECF8;
}
::-webkit-scrollbar-thumb {
    background-color: #293347;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.title {
    color: #293347;
    font-weight: 800;
}
.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.125;
}
.title, .subtitle {
    word-break: break-word;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}

.section.clients .client-grid {
    padding-top: 3rem;
}
