/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 27-Jul-2017, 15:26:50
Author     : Devonte1
*/

/*Use Hash for ID's and . for classes */

/* % for responsive images*/
/* vw for responsive text*/
/*Use SVG for images*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}
.page1{
  height:680px;
  width:100%;

}

 #hometext {

margin-top: 60%;
}
#hometext h2 {

  text-align: center;
}

#hometext h4{

  text-align: center;
}

#hometext p{

  text-align: center;
}

#hometext img {

  display: block;
      margin-left:auto;
      margin-right: auto;
    border-radius:50%;
    width: 200px;
    height: 200px;
}

img {
    max-width: 100%;
}

img {
    border-style: none;
}

.page2{
  height:1300px;
  width:100%;

}

.contactdetails{
  background:black;
  width:100%;
  height:710px;

}

/* Contact info test css */

.glow {
    transition: opacity .15s ease-in;
}
.tc {
    text-align: center;
}

.center {
  margin-top:40px;
    margin-right: auto;
    margin-left: auto;
}
.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bg-gold {
    background-color: #95824d;
}
.o-90 {
    opacity: .9;
}
.w-100 {
    width: 100%;
}
.db {
    display: block;
}
.bn {
    border-style: none;
    border-width: 0;
}
.pa3 {
    padding: 1rem;
}
.w-90 {
    width: 90%;
}
.b--near-black {
    border-color: #111;
}
.ba {
    border-style: solid;
    border-width: 1px;
}

.db {
    display: block;
}

.bn {
    border-style: none;
    border-width: 0;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.cerebri {
    font-family: 'CerebriSans-Regular';
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}


form {
    display: block;
    margin-top: 0em;
}

/* Contact info css */

.box{
  text-align:center;
  padding:10px;
  display: block;
}

.box h3 a{
  font-size:0.65em;
}

.box p{
  font-size:0.9em;
}

.contactdetails h1{
  margin-top:40px;
 position: relative;
  top: 15px;
  color:white;
  /* Center text */
  -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
  font-size:4vw;

}
.contactdetails p{
  margin-top:30px;
  color:white;
  font-size:4vw;
  padding: 0 0 20px

}

.connect h1{
  color:white;
  font-size:4vw;
margin-bottom: 25px;


}
.connect{
  width:40px;
  height: 40px;
  display: inline;
}
.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-icon {
    width:  30px;
    height: 30px;
    fill: currentColor;
    transition: .2s;
}






/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
  list-style-type: none;
	margin: 0 5px;
}

.social-circle li a {/*Icon circles */
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {/*Icon symbols */
	margin:0;
	line-height:50px;
	text-align: center;
}


.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;
}

#icons {
    padding: .5em 0 .7em 0;
    height: 38px;
    margin-left: 50%;
}

.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
}

.header__nav {
    -webkit-animation: header__fadeIn 2s ease 2.8s backwards;
    animation: header__fadeIn 2s ease 2.8s backwards;
}


/* Mobile Styles */
@media only screen and (max-width: 600px) {


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */

  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .box a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }


  .social-circle li a:hover i, .triggeredHover {
  	-moz-transform: rotate(360deg);
  	-webkit-transform: rotate(360deg);
  	-ms--transform: rotate(360deg);
  	transform: rotate(360deg);
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	transition: all 0.2s;
  }

  /* footer social icons */
  .social-network a.icoFacebook:hover {
  	background-color:#3B5998;
  }
  .social-network a.icoTwitter:hover {
  	background-color:#33ccff;
  }
  .social-network a.icoGoogle:hover {
  	background-color:#BD3518;
  }
  .social-network a.icoVimeo:hover {
  	background-color:#0590B8;
  }
  .social-network a.icoLinkedin:hover {
  	background-color:#007bb7;
  }
  .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  	color:#fff;
  }
  a.socialIcon:hover, .socialHoverClass {
  	color:#44BCDD;
  }






}
