/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 27-Jul-2017, 15:26:50
Author     : Devonte1
*/

/*Use Hash for ID's and . for classes */

/* % for responsive images*/
/* vw for responsive text*/
/*Use SVG for images*/

@media only screen and (max-width: 376px) {




  /* ***********************************************************
  * #global-nav
  * *********************************************************** */
  .open #global-nav {
    z-index: 1000;
    visibility: visible;
  }
  #global-nav {
    visibility: hidden;
    position: fixed;
    display: table;
    vertical-align: middle;
    color: #fff;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  #global-nav ul {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    padding: 30px;
  }
  #global-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }

  /* ***********************************************************
  * nav-list
  * *********************************************************** */
  #global-nav ul li {
    opacity: 0;
    -webkit-transform: scaleX(0) translateX(-260px);
    transform: scaleX(0) translateX(-260px);
    -webkit-transition: none;
    transition: none;
  }
  .open #global-nav ul li {
    opacity: 1;
    -webkit-transform: scaleX(1) translateX(0);
    transform: scaleX(1) translateX(0);

    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;

    -webkit-transition-delay: .1s;
    transition-delay: .1s;
  }
  .open #global-nav ul li:nth-child(2) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
  }
  .open #global-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  .open #global-nav ul li:nth-child(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
  }
  .open #global-nav ul li:nth-child(5) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
  }

  /* ***********************************************************
  * #nav-bg
  * *********************************************************** */
  #nav-bg {
    content: "";
    width: 60px;
    height: 60px;
    right: 10px;
    top:10px;
    bottom: 10px;
    display: block;
    position: fixed;
    background: #17A669;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);

  }
  .open #nav-bg {
    -webkit-transform: scale(30);
    transform: scale(30);
    -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
  }

  /* ***********************************************************
  * #nav-toggle
  * *********************************************************** */

  /*  Toggle location*/
  #nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 15px;
    z-index: 1001;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

  #nav-toggle div {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  /*  Toggle Shape  */

  #nav-toggle span {
  /*   display: block; */
    height: 2px;
    width: 100%;
    background: #fff;
  /*   left: 0; */
    zoom: 1;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;

    margin: 4px 0;
  }

  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 8px;
  }
  #nav-toggle span:nth-child(3) {
    top: 16px;
  }

  .open #nav-toggle {
    background: transparent;
  }

  .open #nav-toggle span {
    background: #fff;
  }

  .open #nav-toggle span:nth-child(1) {
    top: 9px;
    -webkit-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
    zoom: 1;
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 9px;
    -webkit-transform: translateY(-10px) rotate(135deg);
    transform: translateY(-10px) rotate(135deg);
    zoom: 1;
  }

/* Page - NavBar*/
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 30px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 55em;

      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}











/* Page - Aethestics*/

.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
}

.header__nav {
    -webkit-animation: header__fadeIn 2s ease 2.8s backwards;
    animation: header__fadeIn 2s ease 2.8s backwards;
}




/* Page 1 - Introduction*/

.circular-image{

  display: block;
  margin: 0 auto;
width: 150px;

}
.frontpage{
  height:680px;
  width:100%;

}

.hometext h2 {
  margin-top: 40px;
}

.hometext h4 {
  margin-top: 20px;
  text-align: center;
}
.hometext p{

  text-align: center;
  font-size:0.9em;
}

/* Page 2 - Links*/

.box{
  text-align:center;
  padding:10px;
  display: block;
}

.box h3 a{
  font-size:0.65em;
}

.box p{
  font-size:0.9em;
}



/* Page 3 - Contact details*/

.contactdetails p{
  margin-top:30px;
font-size:0.9em;
text-align:center;

}

  .socialmedia{
    margin-top: 30px;
    margin-right: 20px;
    float: right;
  }

  .small-10 {
    width: 83.33333%;
}
.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}
.column, .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}
.social-icons {
    text-align: center;
}

.social-icons a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.35);
    border-radius: 90em;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    /* height: 32px; */
    line-height: 31px;
    margin-left: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    top: -4px;
    width: 32px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}


.bottom-footer {
    background-color: #000000;
}

.hometext{
  margin-top: 120px;
}

#hometext img {

  display: block;
      margin-left:auto;
      margin-right: auto;
    border-radius:50%;
    width: 200px;
    height: 200px;
}

img {
    max-width: 100%;
}

img {
    border-style: none;
}

.pagelinks{
  height:1300px;
  width:100%;

}

.contactdetails{
  background:white;
  width:100%;
  height:680px;

}

/* Contact info test css */

.glow {
    transition: opacity .15s ease-in;
}
.tc {
    text-align: center;
}

.center {
  margin-top:40px;
    margin-right: auto;
    margin-left: auto;
}
.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bg-gold {
    background-color: #95824d;
}
.o-90 {
    opacity: .9;
}
.w-100 {
    width: 100%;
}
.db {
    display: block;
}
.bn {
    border-style: none;
    border-width: 0;
}
.pa3 {
    padding: 1rem;
}
.w-90 {
    width: 90%;
}
.b--near-black {
    border-color: #111;
}
.ba {
    border-style: solid;
    border-width: 1px;
}

.db {
    display: block;
}

.bn {
    border-style: none;
    border-width: 0;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.cerebri {
    font-family: 'CerebriSans-Regular';
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}


form {
    display: block;
    margin-top: 0em;
}

/* Contact info css */



.contacttitle{
  margin-top:20px;
 position: relative;
  top: 15px;
  color:black;
  /* Center text */
  -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
  font-size:6vw;

}


.connect h1{
  color:white;
  font-size:4vw;
margin-bottom: 25px;


}
.connect{
  width:40px;
  height:0px;
  display: inline;
}
.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-icon {
    width:  30px;
    height: 30px;
    fill: currentColor;
    transition: .2s;
}






/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
  list-style-type: none;
	margin: 0 5px;
}

.social-circle li a {/*Icon circles */
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:70%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {/*Icon symbols */
	margin:0;
	line-height:50px;
	text-align: center;
}


.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;
}

#icons {
    padding: .5em 0 .7em 0;
    height: 38px;
    margin-left: 50%;
}




#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{display: none}
@media(min-width:992px) {
.leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
#wrapper{padding: 90px 15px 15px 15px; }
.navbar-nav.side-nav.open {left:0;}
.navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */

  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .box a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }


  .social-circle li a:hover i, .triggeredHover {
  	-moz-transform: rotate(360deg);
  	-webkit-transform: rotate(360deg);
  	-ms--transform: rotate(360deg);
  	transform: rotate(360deg);
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	transition: all 0.2s;
  }

  /* footer social icons */
  .social-network a.icoFacebook:hover {
  	background-color:#3B5998;
  }
  .social-network a.icoTwitter:hover {
  	background-color:#33ccff;
  }
  .social-network a.icoGoogle:hover {
  	background-color:#BD3518;
  }
  .social-network a.icoVimeo:hover {
  	background-color:#0590B8;
  }
  .social-network a.icoLinkedin:hover {
  	background-color:#007bb7;
  }
  .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  	color:#fff;
  }
  a.socialIcon:hover, .socialHoverClass {
  	color:#44BCDD;
  }
}
