@media only screen and (max-width: 376px) {
  html, body {
        margin: 0;
        padding: 0;
        width: 100%;
  }
    /* ***********************************************************
    * #global-nav
    * *********************************************************** */
    .open #global-nav {
      z-index: 1000;
      visibility: visible;
    }
    #global-nav {
      visibility: hidden;
      position: fixed;
      display: table;
      vertical-align: middle;
      color: #fff;
      top: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
    #global-nav ul {
      display: table-cell;
      vertical-align: middle;
      list-style: none;
      padding: 30px;
    }
    #global-nav a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px 0;
    }

    /* ***********************************************************
    * nav-list
    * *********************************************************** */
    #global-nav ul li {
      opacity: 0;
      -webkit-transform: scaleX(0) translateX(-260px);
      transform: scaleX(0) translateX(-260px);
      -webkit-transition: none;
      transition: none;
    }
    .open #global-nav ul li {
      opacity: 1;
      -webkit-transform: scaleX(1) translateX(0);
      transform: scaleX(1) translateX(0);

      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;

      -webkit-transition-delay: .1s;
      transition-delay: .1s;
    }
    .open #global-nav ul li:nth-child(2) {
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
    .open #global-nav ul li:nth-child(3) {
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    .open #global-nav ul li:nth-child(4) {
      -webkit-transition-delay: .4s;
      transition-delay: .4s;
    }
    .open #global-nav ul li:nth-child(5) {
      -webkit-transition-delay: .5s;
      transition-delay: .5s;
    }

    /* ***********************************************************
    * #nav-bg
    * *********************************************************** */
    #nav-bg {
      content: "";
      width: 60px;
      height: 60px;
      right: 10px;
      top:10px;
      bottom: 10px;
      display: block;
      position: fixed;
      background:  	#303030;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: scale(1);
      transform: scale(1);

    }
    .open #nav-bg {
      -webkit-transform: scale(30);
      transform: scale(30);
      -webkit-transition: all .6s ease-out;
      transition: all .6s ease-out;
    }

    /* ***********************************************************
    * #nav-toggle
    * *********************************************************** */

    /*  Toggle location*/
    #nav-toggle {
      display: block;
      position: fixed;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      padding: 15px;
      z-index: 1001;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
    }

    #nav-toggle div {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    /*  Toggle Shape  */

    #nav-toggle span {
    /*   display: block; */
      height: 2px;
      width: 100%;
      background: #fff;
    /*   left: 0; */
      zoom: 1;
      -webkit-transition: .35s ease-in-out;
      transition: .35s ease-in-out;

      margin: 4px 0;
    }

    #nav-toggle span:nth-child(1) {
      top: 0;
    }
    #nav-toggle span:nth-child(2) {
      top: 8px;
    }
    #nav-toggle span:nth-child(3) {
      top: 16px;
    }

    .open #nav-toggle {
      background: transparent;
    }

    .open #nav-toggle span {
      background: #fff;
    }

    .open #nav-toggle span:nth-child(1) {
      top: 9px;
      -webkit-transform: translateY(10px) rotate(-135deg);
      transform: translateY(10px) rotate(-135deg);
      zoom: 1;
    }
    .open #nav-toggle span:nth-child(2) {
      width: 0;
      left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
      top: 9px;
      -webkit-transform: translateY(-10px) rotate(135deg);
      transform: translateY(-10px) rotate(135deg);
      zoom: 1;
    }

  .uk-sticky-fixed {
      z-index: 980;
      box-sizing: border-box;
      margin: 0!important;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  rner {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #999;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
        border: 1px solid #eee;
    }
    ::selection {
        background: #39f;
        color: #fff;
        text-shadow: none;
    }

    .uk-container::after {
      clear: both;
  }

  .uk-container::after, .uk-container::before {
      content: "";
      display: table;
  }
    .mobile-menu-toggler {
      /* height: 100%; */
      display: flex;
  }

  .uk-link, a {
      color: #1e87f0;
      text-decoration: none;
      cursor: pointer;
  }
  a {
      -webkit-text-decoration-skip: objects;
  }
  * {
      font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
  }

  :root {
      --uk-leader-fill-content: .;
  }
  :root {
      --uk-breakpoint-s: 640px;
      --uk-breakpoint-m: 960px;
      --uk-breakpoint-l: 1200px;
      --uk-breakpoint-xl: 1600px;
  }

  * {
      font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
  }
  ::-webkit-scrollbar {
      width: 7px;
  }
  ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  ::-webkit-scrollbar-thumb {
      background: #999;
  }
  ::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid #eee;
  }
  ::selection {
      background: #39f;
      color: #fff;
      text-shadow: none;
  }

  user agent stylesheet
  div {
      display: block;
  }

  :root {
      --uk-leader-fill-content: .;
  }
  :root {
      --uk-breakpoint-s: 640px;
      --uk-breakpoint-m: 960px;
      --uk-breakpoint-l: 1200px;
      --uk-breakpoint-xl: 1600px;
  }

  ::-webkit-scrollbar {
      width: 7px;
  }
  ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  ::-webkit-scrollbar-thumb {
      background: #999;
  }
  ::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid #eee;
  }
  ::selection {
      background: #39f;
      color: #fff;
      text-shadow: none;
  }

  .uk-link, a {
      color: #1e87f0;
      text-decoration: none;
      cursor: pointer;
  }
  * {
      font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
  }
  user agent stylesheet

  .uk-button-text::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 100%;
      border-bottom: 1px solid #333;
      transition: right .3s ease-out;
  }
  ::-webkit-scrollbar {
      width: 7px;
  }
  ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  ::-webkit-scrollbar-thumb {
      background: #999;
  }
  ::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid #eee;
  }
  ::selection {
      background: #39f;
      color: #fff;
      text-shadow: none;
  }

  .uk-button-text {
      padding: 0;
      line-height: 1.5;
      background: 0 0;
      color: #333;
      position: relative;
  }


    user agent stylesheet
    div {
        display: block;
    }
    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }


    .navbar-down-btn {
      width: 21%;
      float: left;
      justify-content: center;
  }

    .uk-navbar-nav {
      justify-content: center;
  }
  .uk-navbar-nav {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  ol, ul {
      padding-left: 30px;
  }
  address, dl, fieldset, figure, ol, p, pre, ul {
      margin: 0 0 20px 0;
  }
  * {
      font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
  }
  user agent stylesheet
  ul, menu, dir {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }

  :root {
      --uk-leader-fill-content: .;
  }
  :root {
      --uk-breakpoint-s: 640px;
      --uk-breakpoint-m: 960px;
      --uk-breakpoint-l: 1200px;
      --uk-breakpoint-xl: 1600px;
  }
  html {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      -webkit-text-size-adjust: 100%;
      background: #fff;
      color: #666;
  }
  * {
      font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
  }
  ::-webkit-scrollbar {
      width: 7px;
  }
  ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  ::-webkit-scrollbar-thumb {
      background: #999;
  }
  ::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid #eee;
  }
  ::selection {
      background: #39f;
      color: #fff;
      text-shadow: none;
  }

    element.style {
        position: fixed;
        top: 0px;
        width: 369px;
    }
    .navbar-wrapper {
        border-bottom: 1px solid #e9eef4;
        background-color: #fff;
        z-index: 999 !important;
        /* box-shadow: -1px 5px 45px -20px rgba(0,0,0,0.8); */
    }
    .uk-sticky-fixed {
        z-index: 980;
        box-sizing: border-box;
        margin: 0!important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }
    user agent stylesheet
    div {
        display: block;
    }
    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }
    :root {
        --uk-leader-fill-content: .;
    }
    :root {
        --uk-breakpoint-s: 640px;
        --uk-breakpoint-m: 960px;
        --uk-breakpoint-l: 1200px;
        --uk-breakpoint-xl: 1600px;
    }

    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }
    ::-webkit-scrollbar {
        width: 7px;
    }
    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #999;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
        border: 1px solid #eee;
    }
    ::selection {
        background: #39f;
        color: #fff;
        text-shadow: none;
    }

    /* Div class - Navbar Wrapper */

    element.style {
        background: rgb(255, 255, 255);
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: #ffffff;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: #f8f8f8;
    }
    .navbar-wrapper nav {
        /* background-color: #fff !important; */
        min-height: 80px;
    }
    .uk-navbar {
        display: flex;
        position: relative;
    }
    .uk-container-expand {
        max-width: none;
    }
    .uk-container {
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }
    user agent stylesheet
    article, aside, footer, header, hgroup, main, nav, section {
        display: block;
    }
    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }
    * {
        font-family: "canada-type-gibson", -apple-system,BlinkMacSystemFont, sans-serif !important;
    }
    :root {
        --uk-leader-fill-content: .;
    }
    :root {
        --uk-breakpoint-s: 640px;
        --uk-breakpoint-m: 960px;
        --uk-breakpoint-l: 1200px;
        --uk-breakpoint-xl: 1600px;
    }
    /* Page 1 - Introduction*/


  .classnav  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

 .classnav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
  .classnav li a:hover {
  background-color: #555;
  color: white;
}
    .page {
      display: flex;
      flex-wrap: wrap;
    }

    .hometext{
      height:50px;
      margin-top: 70px;
      text-align: center;
    }

    .circular-image{

      display: block;
      margin: 0 auto;
    width: 150px;

    }
    .frontpage{
      height:680px;
      width:100%;

    }
    .hometext h4 {
      margin-top: 20px;

    }
    .hometext p{

      text-align: center;
      font-size:0.9em;
    }

    #hometext img {

      display: block;
          margin-left:auto;
          margin-right: auto;
          border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
        width: 200px;
        height: 200px;
    }



/* Page 2 - Links*/

.pagelinks{
  height:1300px;
  width:100%;

}

.linkdivs{
  text-align:center;
  padding:10px;
  display: block;
}

.linkdivs h3 a{
  font-size:0.9em;
}

.linkdivs p{
  font-size:0.9em;
}
.linkimg{

margin:auto;

}



/* Page 3 - Contact details*/
.contactdetails{
  background:white;
  width:100%;
  height:680px;

}











}
