/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27-Jul-2017, 15:26:50
    Author     : Devonte1
*/

/*Use Hash for ID's and . for classes */

/* % for responsive images*/
/* vw for responsive text*/
/*Use SVG for images*/

/* For Mobile */
@media screen and (max-width: 540px) {
  body{

    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }

   #page1{
       height:800px;
       background: url("../images/halo_3_hd-HD.jpg");
   }

   #page2{

   height:600px;
  background: white;

   }
   #page3{
  background: #1B2128;
  height:400px;

   }

   /* Boxes */
  .container{
    margin-top: 120px;

  }

  div {
    display: block;
}



  .box{
    float:left;
    margin-top: 70px;
    width:30%;
    text-align:center;
    padding:10px;
    margin-left: 2.5%;
  }

  .box img{
  max-width:100%;
  height:85%;
  margin:auto;
  border-radius:35%;
  height: auto;
  }

  .box h3{
      color:black;
      font-size: 1.7vw;/*size for full web-pages*/
  }
  .connect{
    margin-left:55%;
    margin-top:10%;
    position:relative;

  }

  .connect h1{
   color:white;
   font-size:4vw;
  }

  a {
      text-decoration: none;
      color: inherit;
  }
  .contactform h1{
    color:white;
    font-size:4vw;
  }


  .c-icon {
      width:  36px;
      height: 36px;
      fill: currentColor;
      transition: .2s;
  }

  .c-link--facebook:hover  { color: #3b5998 }
  .c-link--twitter:hover   { color: #55acee }
  .c-link--google:hover    { color: #dd4b39 }
  .c-link--pinterest:hover { color: #bd081c }
  .c-link--instagram:hover { color: #833ab4 }
  .c-link--snapchat:hover  { color: #fbe00f }
  .c-link--facebook:hover::after  { background: #3b5998 }
  .c-link--twitter:hover::after   { background: #55acee }
  .c-link--google:hover::after    { background: #dd4b39 }
  .c-link--pinterest:hover::after { background: #bd081c }
  .c-link--instagram:hover::after { background: #833ab4 }
  .c-link--snapchat:hover::after  { background: #fbe00f }

  .c-link {
      position: relative;
      color: #bbb;
  }

  .c-link:not(:last-of-type) {
      margin-right: 15px;
  }

  .c-tooltip::before,
  .c-tooltip::after {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -10px);
      opacity: 0;
      transition: .2s;
  }

  .c-tooltip::before {
      content: '';
      bottom: calc(100% + 2px);
      border: solid 5px transparent;
      border-top-color: currentColor;
  }

  .c-tooltip::after {
      content: attr(aria-label);
      bottom: calc(100% + 12px);
      padding: .61em .93em;
      font-size: .875rem;
      color: white;
      border-radius: 3px;
  }

  .c-tooltip:hover::before,
  .c-tooltip:hover::after {
      opacity: 1;
      transform: translate(-50%);
  }

  .pens-link-container {
      flex-basis: 100%;
      font-size: .9rem;
      text-align: center;
  }

  .pens-link {
      margin-bottom: 0;
      background: white;
      box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
      border: none;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  body{

    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }

   #page1{

       height:800px;
       background: url("../images/halo_3_hd-HD.jpg");

   }

   #page2{

   height:600px;
  background: white;

   }
   #page3{
  background: #1B2128;
  height:400px;

   }

   /* Boxes */
  .container{

    margin-top: 120px;

  }


  .box{
    float:left;
    margin-top: 70px;
    width:30%;
    text-align:center;
    padding:10px;
    margin-left: 2.5%;

  }

  .box img{
  max-width:100%;
  height:85%;
  border-radius:35%;
  height: auto;

  }

  .box h3{
      color:black;
      font-size: 1.7vw;/*size for full web-pages*/
  }
  .connect{
    margin-left:55%;
    margin-top:10%;
    position:relative;

  }


  .connect h1{
   color:white;
   font-size:4vw;
  }

  a {
      text-decoration: none;
      color: inherit;
  }
  .contactform h1{
    color:white;
    font-size:4vw;
  }


  .c-icon {
      width:  36px;
      height: 36px;
      fill: currentColor;
      transition: .2s;
  }

  .c-link--facebook:hover  { color: #3b5998 }
  .c-link--twitter:hover   { color: #55acee }
  .c-link--google:hover    { color: #dd4b39 }
  .c-link--pinterest:hover { color: #bd081c }
  .c-link--instagram:hover { color: #833ab4 }
  .c-link--snapchat:hover  { color: #fbe00f }
  .c-link--facebook:hover::after  { background: #3b5998 }
  .c-link--twitter:hover::after   { background: #55acee }
  .c-link--google:hover::after    { background: #dd4b39 }
  .c-link--pinterest:hover::after { background: #bd081c }
  .c-link--instagram:hover::after { background: #833ab4 }
  .c-link--snapchat:hover::after  { background: #fbe00f }

  .c-link {
      position: relative;
      color: #bbb;
  }

  .c-link:not(:last-of-type) {
      margin-right: 15px;
  }

  .c-tooltip::before,
  .c-tooltip::after {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -10px);
      opacity: 0;
      transition: .2s;
  }

  .c-tooltip::before {
      content: '';
      bottom: calc(100% + 2px);
      border: solid 5px transparent;
      border-top-color: currentColor;
  }

  .c-tooltip::after {
      content: attr(aria-label);
      bottom: calc(100% + 12px);
      padding: .61em .93em;
      font-size: .875rem;
      color: white;
      border-radius: 3px;
  }

  .c-tooltip:hover::before,
  .c-tooltip:hover::after {
      opacity: 1;
      transform: translate(-50%);
  }

  .pens-link-container {
      flex-basis: 100%;
      font-size: .9rem;
      text-align: center;
  }

  .pens-link {
      margin-bottom: 0;
      background: white;
      box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
      border: none;
  }
}


/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body{

      font:15px/1.5 Arial, Helvetica, sans-serif;
      padding: 0;
      margin: 0;
    }

     #page1{

         height:800px;
         background: url("../images/halo_3_hd-HD.jpg");

     }

     #page2{

     height:600px;
    background: white;

     }
     #page3{
    background: #1B2128;
    height:350px;

     }

     /* Boxes */
    .container{

      margin-top: 120px;

    }

    div {
        display: block;
    }

    .box{
      float:left;
      margin-top: 70px;
      width:30%;
      text-align:center;
      padding:10px;
      margin-left: 2.5%;

    }

    .box img{
    max-width:100%;
    height:85%;
    border-radius:35%;
    height: auto;

    }

    .box h3{
        color:black;
        font-size: 1.7vw;/*size for full web-pages*/
    }
    .connect{
      margin-left:55%;
      margin-top:10%;
      position:relative;

    }


    .connect h1{
     color:white;
     font-size:4vw;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
    .contactform h1{
      color:white;
      font-size:4vw;
    }
    .contactform p{
      color:white;
      font-size:4vw;
    }


    .c-icon {
        width:  36px;
        height: 36px;
        fill: currentColor;
        transition: .2s;
    }

    .c-link--facebook:hover  { color: #3b5998 }
    .c-link--twitter:hover   { color: #55acee }
    .c-link--google:hover    { color: #dd4b39 }
    .c-link--pinterest:hover { color: #bd081c }
    .c-link--instagram:hover { color: #833ab4 }
    .c-link--snapchat:hover  { color: #fbe00f }
    .c-link--facebook:hover::after  { background: #3b5998 }
    .c-link--twitter:hover::after   { background: #55acee }
    .c-link--google:hover::after    { background: #dd4b39 }
    .c-link--pinterest:hover::after { background: #bd081c }
    .c-link--instagram:hover::after { background: #833ab4 }
    .c-link--snapchat:hover::after  { background: #fbe00f }

    .c-link {
        position: relative;
        color: #bbb;
    }

    .c-link:not(:last-of-type) {
        margin-right: 15px;
    }

    .c-tooltip::before,
    .c-tooltip::after {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -10px);
        opacity: 0;
        transition: .2s;
    }

    .c-tooltip::before {
        content: '';
        bottom: calc(100% + 2px);
        border: solid 5px transparent;
        border-top-color: currentColor;
    }

    .c-tooltip::after {
        content: attr(aria-label);
        bottom: calc(100% + 12px);
        padding: .61em .93em;
        font-size: .875rem;
        color: white;
        border-radius: 3px;
    }

    .c-tooltip:hover::before,
    .c-tooltip:hover::after {
        opacity: 1;
        transform: translate(-50%);
    }

    .pens-link-container {
        flex-basis: 100%;
        font-size: .9rem;
        text-align: center;
    }

    .pens-link {
        margin-bottom: 0;
        background: white;
        box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
        border: none;
    }
}
